.text-invalid-input{
    color: red;
    margin: 5px;
}

.text-valid-input {
    color: green;
    margin: 5px;
}

.form {
    max-width: 700px;
    padding: 1em;
}

button {
    margin: 1em;
}

label {
    font-weight: 600;
}